html {
	font-size: 50px;
}

.top {
	position: relative;
	margin: .65rem 0 .76rem 0;
}

.p1 img {

	height: .36rem;
	margin-left: .18rem;
	font-weight: 400;
}

.top .p1 {
	position: absolute;
	top: 0;
	left: 0;
}

.top .p2 {
	font-size: .36rem;
	font-weight: 600;
	text-align: center;

}
.gift{
	text-align: center;
	margin-top: .9rem;
	position: relative;
}
.gift img{
	width: 2.5rem;
	height: 2.95rem;
}
.circle{
	border-radius: 1rem;
	height: 2rem;
	width: 2rem;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.circle img{
	width: 1.8rem;
	height: .45rem;
	margin-top: .8rem;
}
.fonts{
	margin-bottom: .35rem;
	margin-top: .3rem;
	text-align: center;
}
.gift-font{
	font-size: .3rem;
	font-weight: 600;
	
}
.box{
	/* width: 100%; */
	height: 2.38rem;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	margin: 0 .3rem;
}
.one{
	display: flex;
	justify-content: space-between;
	margin: .4rem;
}
.one span{
	font-size: .28rem;
	color: #656565;
}
.give{
	margin: .25rem .3rem .6rem .3rem;
}
.p1{
	font-size: .24rem;
	color: #576b95;
}
.point{
	width: 100%;
	height: 2.4rem;
	margin-top: .15rem;
	background: whitesmoke;
	border: 1px solid #333333;
	border-radius: 5px;
	position: relative;
	margin-bottom: .75rem;
}
.point1{
	font-size: .3rem;
	color: #656565;
	margin: .35rem .25rem .45rem .25rem;
	display: inline-block;
}
.point2{
	color: #e0e0e0;
	font-size: .24rem;
	position: absolute;
	bottom: .2rem;
	right: .45rem;
}
.btn{
	/* width: 100%; */
	height: .9rem;
	margin: 0 .3rem 0 .3rem;
	background: rgb(157,228,156);
	border-radius: 5px;
	text-align: center;
}
.btn a {
	color: white;
	font-size: .36rem;
	display:block;
	    padding: .25rem;
	margin-top: .29rem;
	margin-bottom: .29rem;
}
@media screen and (width: 414px) {
			html{
				font-size: 55px;
			}
		}
		
		@media screen and (width: 320px) {
			html{
				font-size: 40px;
			}
		}
		
		@media screen and (min-width: 767px) {
			html{
				font-size: 80px;
			}
		}